/* body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
} */
.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.uploadMain {
  border: 1px solid #fff;
  background-color: #fff;
  box-shadow: 0px 0px 20px 2px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  padding: 0 50px;
  /* height: 100%;
  width: 75vw; */
  border-radius: 0px;
}
.DROPZONE {
  width: 300px;
  height: 250px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  color: lightgray;
  align-items: center;
  font-size: 4em;
  outline: none;
  margin-right: 10px;
}
.DROPZONE:hover {
  cursor: pointer;
  border: 1px solid rgb(136, 121, 121);
}
.DROPANDTHUMBNAIL {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.uploadForm {
  width: 615px;
}
.uploadForm legend {
  font-size: 0.9em;
  font-weight: 400;
}
.uploadForm input {
  border-radius: 3px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 18px;
}
.uploadForm fieldset {
  color: #000;
  border: 1px solid darkgray;
}
.uploadForm textarea {
  font-size: 18px;
  border-radius: 3px;
  border: none;
  outline: none;
  width: 100%;
  height: 150px;
}
select {
  text-align: center;
  border-radius: 3px;
  font-size: 1em;
  appearance: none;
  padding: 5px 30px;
  outline: none;
}
.UPLOAD_BTN {
  float: right;
}
.SELECTBOX {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.SELECT_ICON {
  color: lightgray;
  font-size: 30px;
  font-weight: 100;
}
