* {
  background-color: #fbc531;
}
table {
  border-collapse: collapse;
}
td {
  border: 2px solid black;
  width: 64px;
  height: 64px;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}
