/* Google CDN */
@import url("https://fonts.googleapis.com/css2?family=Song+Myung&display=swap");

body {
  margin: 0px;
  padding: 0px;
  font-family: "Song Myung", serif;
}

p {
  padding: 0px;
  margin: 0px;
}

/* Header */
header i {
  font-size: 3em;
  color: darkorange;
}

header .none {
  display: none;
  color: chartreuse;
}

header .header__container .notice {
  background-color: #2d3436;
  color: #fff;
  text-align: center;
  padding: 5px;
}

header .header__container .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0px 10px;
  /* 상 우 하 좌 (시계방향) */
  /* position: fixed; */
  transition: 0.6s;
}

header .navigation .fixed:hover {
  color: coral;
  background-color: black;
}
header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
}

header .logo {
  display: flex;
  cursor: pointer;
  padding-left: 30px;
  text-transform: uppercase;
  transition: 0.6s;
  letter-spacing: 5px;
}

header .logo p {
  font-size: 2em;
  padding-left: 5px;
  padding-top: 5px;
}

header .logo p span {
  font-size: 0.7em;
  color: #c23616;
}

header ul {
  display: flex;
  margin: 10px 0px 16px 0px;
}

header li {
  list-style: none;
  padding: 0px 100px;
  font-size: 1.5em;
  font-weight: 500px;
  transition: 0.3s;
  letter-spacing: 2px;
}

header li:hover {
  list-style: none;
  padding: 0px 100px;
  color: #c23616;
  cursor: pointer;
}
/* End Header */

/* Main Section */
#main img {
  width: 100%;
}
/* End Main Section */

/* Event Section */
#event .event__title {
  font-size: 3em;
  margin: 30px;
  padding: 50px;
}

#event .event__container {
  text-align: center;
  padding: 200px 50px 200px 50px;
}

#event .item__container {
  display: flex;
  justify-content: space-evenly;
}

#event .item {
  display: flex;
}

#event .item .listbox {
  box-shadow: 3px 3px gray;
  background-color: #0097e6;
  padding: 2px 20px 2px 20px;
  color: #fff;
  font-size: 3em;
}

#event .content {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-left: 10px;
}

#event .content .title {
  font-size: 1.4em;
}

#event .content .article {
  font-size: 1.7em;
}

#event span {
  color: 0097e6;
  background-color: orange;
  font-size: 1.2em;
}
/* End Event Section */

/* Point1 Section */
#point1 .point1__container {
  border: 3px solid red;
  background-color: #273c75;
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 2em;
  align-content: center;
}

#point1 .point1__container .title {
  color: #fff;
}

#point1 .article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

#point1 .info__img {
  border: 2px solid blue;
}

#point1 .info__conatiner {
  border: 2px solid yellowgreen;
}
/* End Point1 Section */

/* Point2 Section */
#point2 .point2__container {
  border: 1px solid black;
  background-color: #273c75;
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 2em;
  align-content: center;
}
/* End Point1 Section */

/* Footer */

/* End Footer */

/* ################ [ TEST ] ############## */
