.navbar {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.navbar ul {
  border: 1px solid black;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.navbar ul li {
  border: 1px solid black;
}
.navbar .logo img {
  border: 1px solid red;
  width: 70px;
  height: 70px;
  justify-content: flex-start;
}
