body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: 0;
}
#main__header {
  width: 960px;
  margin: 0 auto;
  height: 160px;
  position: relative;
}
#main__header > #title {
  position: absolute;
  left: 20px;
  top: 30px;
}
#main__header > #main__gnb {
  position: absolute;
  right: 0;
  top: 0;
}
#main__header > #main__lnb {
  position: absolute;
  right: 0;
  bottom: 10px;
}
#main__gnb > ul {
  overflow: hidden;
}
#main__gnb > ul > li {
  float: left;
}
#main__gnb > ul > li :hover {
  background: black;
  color: white;
}
#main__gnb > ul > li > a {
  border: 1px solid black;
  padding: 2px 10px;
  display: block;
}
#main__gnb > ul > li:first-child > a {
  border-radius: 10px 0 0 10px;
}
#main__gnb > ul > li:last-child > a {
  border-radius: 0 10px 10px 0;
}

#main__lnb > ul {
  overflow: hidden;
}
#main__lnb > ul > li {
  float: left;
}
#main__lnb > ul > li :hover {
  background: black;
  color: white;
}
#main__lnb > ul > li > a {
  border: 1px solid black;
  padding: 7px 20px;
  display: block;
}
#main__lnb > ul > li:first-child > a {
  border-radius: 12px 0 0 12px;
}
#main__lnb > ul > li:last-child > a {
  border-radius: 0 12px 12px 0;
}
#content > #main__section > article.main__article {
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 10px;
  width: 685px;
  float: left;
}
#main__aside {
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 10px;
  width: 180px;
  float: right;
}
#content {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

#main__footer {
  width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

.tab_content {
  display: none;
}

#item1:checked ~ #item1_con,
#item2:checked ~ #item2_con {
  display: block;
}
