<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/index.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />

    <title>Recipe AI</title>
  </head>
  <body>
    <section id="navbar">Recipe AI</section>
    <section id="content">
      <form action="/result" id="content__form">
        <div id="article">
          <div class="img">
            <img src="http://placehold.it/150x150" width="150px" />
            <div
              class="btn-group"
              role="group"
              aria-label="Basic checkbox toggle button group"
            >
              <input
                value="{{name}}"
                name="checklist"
                type="checkbox"
                class="btn-check"
                id="check-{{name}}"
                autocomplete="off"
              />
              <label class="btn btn-outline-success" for="check-{{name}}"
                >과일이름</label
              >
            </div>
          </div>
          <div class="img">
            <img src="http://placehold.it/150x150" width="150px" />
            <div
              class="btn-group"
              role="group"
              aria-label="Basic checkbox toggle button group"
            >
              <input
                value="{{name}}"
                name="checklist"
                type="checkbox"
                class="btn-check"
                id="check-{{name}}"
                autocomplete="off"
              />
              <label class="btn btn-outline-success" for="check-{{name}}"
                >과일이름</label
              >
            </div>
          </div>
          <div class="img">
            <img src="http://placehold.it/150x150" width="150px" />
            <div
              class="btn-group"
              role="group"
              aria-label="Basic checkbox toggle button group"
            >
              <input
                value="{{name}}"
                name="checklist"
                type="checkbox"
                class="btn-check"
                id="check-{{name}}"
                autocomplete="off"
              />
              <label class="btn btn-outline-success" for="check-{{name}}"
                >과일이름</label
              >
            </div>
          </div>
          <div class="img">
            <img src="http://placehold.it/150x150" width="150px" />
            <div
              class="btn-group"
              role="group"
              aria-label="Basic checkbox toggle button group"
            >
              <input
                value="{{name}}"
                name="checklist"
                type="checkbox"
                class="btn-check"
                id="check-{{name}}"
                autocomplete="off"
              />
              <label class="btn btn-outline-success" for="check-{{name}}"
                >과일이름</label
              >
            </div>
          </div>
          <div class="img">
            <img src="http://placehold.it/150x150" width="150px" />
            <div
              class="btn-group"
              role="group"
              aria-label="Basic checkbox toggle button group"
            >
              <input
                value="{{name}}"
                name="checklist"
                type="checkbox"
                class="btn-check"
                id="check-{{name}}"
                autocomplete="off"
              />
              <label class="btn btn-outline-success" for="check-{{name}}"
                >과일이름</label
              >
            </div>
          </div>
          <div class="img">
            <img src="http://placehold.it/150x150" width="150px" />
            <div
              class="btn-group"
              role="group"
              aria-label="Basic checkbox toggle button group"
            >
              <input
                value="{{name}}"
                name="checklist"
                type="checkbox"
                class="btn-check"
                id="check-{{name}}"
                autocomplete="off"
              />
              <label class="btn btn-outline-success" for="check-{{name}}"
                >과일이름</label
              >
            </div>
          </div>
          <div class="img">
            <img src="http://placehold.it/150x150" width="150px" />
            <div
              class="btn-group"
              role="group"
              aria-label="Basic checkbox toggle button group"
            >
              <input
                value="{{name}}"
                name="checklist"
                type="checkbox"
                class="btn-check"
                id="check-{{name}}"
                autocomplete="off"
              />
              <label class="btn btn-outline-success" for="check-{{name}}"
                >과일이름</label
              >
            </div>
          </div>
          <div class="img">
            <img src="http://placehold.it/150x150" width="150px" />
            <div
              class="btn-group"
              role="group"
              aria-label="Basic checkbox toggle button group"
            >
              <input
                value="{{name}}"
                name="checklist"
                type="checkbox"
                class="btn-check"
                id="check-{{name}}"
                autocomplete="off"
              />
              <label class="btn btn-outline-success" for="check-{{name}}"
                >과일이름</label
              >
            </div>
          </div>
          <div class="img">
            <img src="http://placehold.it/150x150" width="150px" />
            <div
              class="btn-group"
              role="group"
              aria-label="Basic checkbox toggle button group"
            >
              <input
                value="{{name}}"
                name="checklist"
                type="checkbox"
                class="btn-check"
                id="check-{{name}}"
                autocomplete="off"
              />
              <label class="btn btn-outline-success" for="check-{{name}}"
                >과일이름</label
              >
            </div>
          </div>
          <div class="img">
            <img src="http://placehold.it/150x150" width="150px" />
            <div
              class="btn-group"
              role="group"
              aria-label="Basic checkbox toggle button group"
            >
              <input
                value="{{name}}"
                name="checklist"
                type="checkbox"
                class="btn-check"
                id="check-{{name}}"
                autocomplete="off"
              />
              <label class="btn btn-outline-success" for="check-{{name}}"
                >과일이름</label
              >
            </div>
          </div>
          <div class="img">
            <img src="http://placehold.it/150x150" width="150px" />
            <div
              class="btn-group"
              role="group"
              aria-label="Basic checkbox toggle button group"
            >
              <input
                value="{{name}}"
                name="checklist"
                type="checkbox"
                class="btn-check"
                id="check-{{name}}"
                autocomplete="off"
              />
              <label class="btn btn-outline-success" for="check-{{name}}"
                >과일이름</label
              >
            </div>
          </div>
          <div class="img">
            <img src="http://placehold.it/150x150" width="150px" />
            <div
              class="btn-group"
              role="group"
              aria-label="Basic checkbox toggle button group"
            >
              <input
                value="{{name}}"
                name="checklist"
                type="checkbox"
                class="btn-check"
                id="check-{{name}}"
                autocomplete="off"
              />
              <label class="btn btn-outline-success" for="check-{{name}}"
                >과일이름</label
              >
            </div>
          </div>
          <div class="img">
            <img src="http://placehold.it/150x150" width="150px" />
            <div
              class="btn-group"
              role="group"
              aria-label="Basic checkbox toggle button group"
            >
              <input
                value="{{name}}"
                name="checklist"
                type="checkbox"
                class="btn-check"
                id="check-{{name}}"
                autocomplete="off"
              />
              <label class="btn btn-outline-success" for="check-{{name}}"
                >과일이름</label
              >
            </div>
          </div>
          <div class="img">
            <img src="http://placehold.it/150x150" width="150px" />
            <div
              class="btn-group"
              role="group"
              aria-label="Basic checkbox toggle button group"
            >
              <input
                value="{{name}}"
                name="checklist"
                type="checkbox"
                class="btn-check"
                id="check-{{name}}"
                autocomplete="off"
              />
              <label class="btn btn-outline-success" for="check-{{name}}"
                >과일이름</label
              >
            </div>
          </div>
        </div>

        <div class="btn-submit">
          <button type="submit" class="btn btn-primary">선택 완료</button>
        </div>
        div
      </form>
    </section>
  </body>
</html>
