<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public//index.css" />
    <title>AICook</title>
  </head>
  <body>
    <h3>Test Dummy data</h3>

    <form action="/result">
      <select name="option1">
        <option></option>
        <option>쌀</option>
        <option>밀</option>
        <option>통곡</option>
      </select>
      <select name="option2">
        <option></option>
        <option>GT</option>
        <option>Trek</option>
        <option>Kona</option>
        <option>Yeti</option>
        <option>SantaCruz</option>
      </select>
      <br />
      <input type="radio" name="option3" value="EnduroBike" id="radio_btn1" />
      <label for="radio_btn1">Enduro Bike</label><br />
      <input type="radio" name="option3" value="TrailBike" id="radio_btn2" />
      <label for="radio_btn2">Trail Bike</label><br />
      <button type="submit">Next</button>
      <br />
      <div class="con">
        {% for imgItem in filename %}
        <img src="../img/{{imgItem}}" width="150px" />
        <div>{{imgItem}}</div>
        {% set imgName = imgItem.split(".") | first %} {{words}}
        <input type="checkbox" name="option4" value="{{imgName}}" />

        {% endfor %}
      </div>
    </form>
  </body>
  <script></script>
</html>
