@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
/* 
body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(to right bottom, #3498db, #8e44ad, #d35400);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nanum Gothi ", sans-serif;
  font-size: 1.5em;
  user-select: none;
  border: 5px solid black;
} */
body {
  background: linear-gradient(to right bottom, #3498db, #8e44ad, #d35400);

  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  /* align-items: center; */
  overflow: auto;
}
#root {
  /* display: flex; */
  /* width: 90%; */
  /* flex-direction: column; */
  /* justify-content: center;
  align-items: center;
  align-self: center; */
}
.main {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  /* height: 10%; */
  margin: 10%;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 2px #000;
  /* height: 75vh;
  width: 75vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
a:link,
a:hover,
a:visited {
  text-decoration: none;
  color: #d35400;
}
a:hover {
  font-weight: bold;
}

.Ment {
  margin-top: 10px;
  font-size: 0.9em;
}
.BUTTON {
  margin: 10px 10px 0px 10px;
  font-size: 0.8em;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  background-color: #3498db;
  width: 100px;
}
.BUTTON:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px #b2bec3;
}

.LINK {
  background-color: #fff;
  border: none;
  font-size: 1.3rem;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: #d35400;
  font-weight: 400;
}
.LINK:hover {
  font-weight: bold;
  cursor: pointer;
}
.Storage_Btn {
  color: red;
}
