@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");

body {
  background-color: bisque;
  margin: 0px;
  padding: 0px;
}

/* HEADER */
.header {
  border: 1px solid black;
  display: flex;
}
.header__container {
  display: flex;
}
.header__container .left {
  font-family: "Josefin Sans", sans-serif;
  flex-direction: column;
  flex: 1;
}
.header__container .logo .title {
  font-size: 6em;
}
.header__container .logo .title span {
  font-size: 3rem;
  position: relative;
  top: 7px;
}
.header__container .logo .title__add {
  font-size: 1.5em;
  position: relative;
  bottom: 45px;
  left: 52px;
}
.header__container .logo .title__add span {
  font-size: 2em;
  position: relative;
  bottom: 18px;
}
.header__container .right {
  flex: 5;
  flex-direction: column;
}
.header__container .top {
  flex: 1;
}
.header__container .bottom {
  flex: 3;
}
.header__container .bottom__left {
  flex: 1;
}
.header__container .bottom__right {
  flex: 5;
}
.header__menu ul {
  margin: 0px;
  display: flex;
  justify-content: space-between;
}
.header__menu li {
  border-left: 1px solid black;
  list-style: none;
  padding: 0px 10px;
}
.header__menu li:nth-child(1) {
  border: none;
}

/* END HEADER */

/* ##########[ TEST SECTION ] ########## */ ;
